<%= stylesheet_link_tag 'parallax/styles' %>

<div class="hero-unit pagination-centered">
  <h1>Octo meets Pussy</h1>

  <h2>Octo and Pussy are soulmates. Together they can help you manage your projects using Github.</h2>
  <!-- REQUIRED FOR PARALLAX -->
  <div id="parallax" class="clear">
    <div class="parallax-layer" style="width:1200px; height:300px;">
      <img src="<%= image_path 'parallax/twinkle.png' %>" alt="" style="width:1200px; height:300px;"/>
    </div>
    <div class="parallax-layer" style="width:1200px; height:300px;">
      <img src="<%= image_path 'parallax/sea.png' %>" alt="" style="width:1200px; height:300px;"/>
    </div>
    <div class="parallax-layer" style="width:1200px; height:250px;">
      <img src="<%= image_path 'parallax/sand.png' %>" alt="" style="width:1200px; height:250px;"/>
    </div>
    <div class="parallax-layer" style="width:500px; height:250px;">
      <img src="<%= image_path 'parallax/octo_pussy.png' %>" alt="" style="width:500px; height:250px;"/>
    </div>
  </div>
  <!-- /REQUIRED FOR PARALLAX -->
</div>
<div class="row">
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
</div>
