<tr class="center">
  <td style="vertical-align: middle;">
    <h3><%= milestone[:title] %></h3>
  </td>
  <td style="vertical-align: middle;">
    <h3><%= milestone[:due_on][0, 10] if milestone[:due_on] %></h3>
  </td>
  <td class="span3" style="vertical-align: middle;">
    <%= image_tag(milestone[:creator][:avatar_url], :title => milestone[:creator][:login]) %>
  </td>
  <td style="vertical-align: middle;">
    <% progress = (milestone[:open_issues]*100)/(milestone[:open_issues] + milestone[:closed_issues]) %>
    <div class="progress" title="<%= milestone[:open_issues] %> out of <%= milestone[:open_issues] + milestone[:closed_issues] %> issues are open">
      <div class="bar" style="width: <%= progress %>%; background-color:#2a6023;"></div>
    </div>
  </td>
  <td style="vertical-align: middle;">
    <%= link_to 'Show Tasks', "/projects/#{params[:owner]}/#{params[:name]}/#{milestone[:number]}/tasks", :class => 'btn btn-primary' %>
  </td>
</tr>