<div class="navbar">
  <div class="navbar-inner">
    <%= link_to root_path, :class => "brand" do %>
        <%= image_tag 'octopussy-logo-white-26x23.png', :style => 'vertical-align:top' %>&nbsp;OctoPussy
    <% end %>

    <ul class="nav pull-right">
      <% if user_signed_in? %>
          <li>
            <%= link_to current_user.info['urls']['GitHub'], :target => '_blank' do %>
                <%= image_tag(current_user.info['image'], :class => 'display-pic') %>&nbsp;<%= current_user.info['name'] || current_user.info['nickname'] %>
            <% end %>
          </li>
          <li>
            <%= link_to(destroy_user_session_path, :method => :delete) do %>
                <i class="close"></i>&nbsp;Logout
            <% end %>
          </li>
      <% else %>
          <li id="login">
            <%= link_to('Login with Github', user_omniauth_authorize_path(:github)) %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
<script>
    $(document).ready(function () {
        $('#login').tooltip({
            animation:true,
            placement:'bottom',
            title:'We request permissions only to read the stats on your private repositories. You have the power to kick us out anytime from your Github settings.'});
    })
</script>